{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div>
            <h1 class="text-center mt-5 mb-4">Let's see if you getting cooked this semester</h1>
            <form method="POST" action="{{ url_for('submit') }}" style="margin-top: 20%;">
                <div class="form-group text-center">
                    <label for="coursesInput" class="d-block">Course Codes</label>
                    <input type="text" class="form-control mx-auto" id="coursesInput" name="coursesInput" placeholder="eg. ECSE 324, ECSE 551, ..." style="max-width: 300px;">
                    <small id="coursesInput" class="form-text text-muted">Input the course code of classes you intend to take (separate by comma)</small>
                </div>
                <div class="form-group text-center mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="semester" id="fallSemester" value="fall" checked>
                        <label class="form-check-label" for="fallSemester">Fall</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="semester" id="winterSemester" value="winter">
                        <label class="form-check-label" for="winterSemester">Winter</label>
                    </div>
                    
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
