{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Summary</h1>
        {% if courses %}
            <img src={{image}}/>
                {% for course in courses %}
                    <div class="card">
                        <h5 class="card-header">{{course.code}} - {{course.professor}}</h5>
                        <div class="card-body">
                          <h5 class="card-title">Previous average: {{course.overallDifficulty}}</h5>
                          <h5 class="card-title">Class Difficulty Index: {{course.classRating}}</h5>
                          <p class="card-text">{{course.comments}} </p>
                        </div>
                      </div>
                {% endfor %}
            
        {% else %}
            <p>No courses submitted.</p>
        {% endif %}
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Return to Input</a>
    </div>
{% endblock %}