{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Summary</h1>
        {% if courses %}
            <h3>The overall difficulty index of your semester is {{overall}}</h3>
            <small>below 40 is easy. between is 40 and 60 you will manage. over 60 you will suffer.</small>
            <br/>
            <img class="mt-5 mb-5" src="{{image}}" style="width: 30%; height: auto;"/>
                {% for course in courses %}
                    <div class="card">
                        <h5 class="card-header">{{course.code}} - {{course.professor}}</h5>
                        <div class="card-body">
                          <h5 class="card-title">Previous average: {{course.overallDifficulty}}</h5>
                          <h5 class="card-title">Class Difficulty Index: {{course.classRating}}</h5>
                          <p class="card-text">{{course.comments}} </p>
                        </div>
                      </div>
                {% endfor %}
            
        {% else %}
            <p>No courses submitted.</p>
        {% endif %}
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Return to Input</a>
    </div>
{% endblock %}